
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        table {
            border: 1px solid #000000;
        }
        input{height:100%;width:100%}
        #visor{border:1px solid #000000;text-align:right;}
    </style>
</head>
<body>
    <div>
        <form method="post">
            <table>
                <tr>
                    <td colspan="5" id="visor">Visor</td>
                </tr>
                <tr>
                    <td><input type="submit" value="7" name="bt" /></td>
                    <td><input type="submit" value="8" name="bt" /></td>
                    <td><input type="submit" value="9" name="bt" /></td>
                    <td><input type="submit" value=":" name="bt" /></td>
                    <td><input type="submit" value="+/-" name="bt" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="4" name="bt" /></td>
                    <td><input type="submit" value="5" name="bt" /></td>
                    <td><input type="submit" value="6" name="bt" /></td>
                    <td><input type="submit" value="x" name="bt" /></td>
                    <td><input type="submit" value="C" name="bt" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="1" name="bt" /></td>
                    <td><input type="submit" value="2" name="bt" /></td>
                    <td><input type="submit" value="3" name="bt" /></td>
                    <td><input type="submit" value="-" name="bt" /></td>
                    <td rowspan="2"><input type="submit" value="=" name="bt" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="0" name="bt" /></td>
                    <td><input type="submit" value="," name="bt" /></td>
                    <td><input type="submit" value="+" name="bt" /></td>
                </tr>
            </table>
        </form>

    </div>
</body>
</html>
